/* ./styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.height100 {
    height:100%
}

.tableauembed {
    height: 100%
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#__next {
    height: 100%;

}

.corgiloading {
    position: absolute;
    background-color: #f7f7f700;
    width: 100%;
}